
body{
	margin: 0px;
	padding: 0px;
	src: url("sf-ui-text-regular.ttf") format("truetype");
}
.container{
	margin-top: 32px;
	margin-bottom: 103px;
	margin-left: 216px;
	margin-right: 216px;
	width:1488px;
	
}
.tab{
	word-spacing: 15px;
}
.head{
	font-family: SF UI Text;
	font-size: 16px;
	color: #727783;
	margin-bottom:32px;
}
.Name{
	font-family: SF UI Text;
	font-size: 36px;
	font-weight:600;
	margin-bottom:32px;
}
.Filters{
	display:flex;
	flex-direction:row;
	gap:24px;
	margin-bottom: 41px;
}
.filters-group{
	display:flex;
	flex-direction:column;
}
.filter-param{
	font-size:12px;
	color: #4F4F4F;
	margin-left:16px;
	margin-bottom: 6px;
}
.sort-select{
	width: 288px;
	height: 40px;
	border:0;
	background-color: #EEEEEE;
	text-indent: 16px;
    font-size: 14px;
}
.material-select{
	width: 288px;
	height: 40px;
	border:0;
	background-color: #EEEEEE;
	text-indent: 16px;
    font-size: 14px;
}
.Cards{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	gap: 24px
}
.product-card{
	width: 336px;
	height:352px;
	border: 1px solid #EEEEEE;
	
}
.discount{
	position:absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 81px;
	height: 24px;
	background-color: #EB5757;
    color: white;
    font-size: 14px;
    margin-top: 8px;
}
.photo{
	display: flex;
	justify-content: center;
	margin-top:9px;
	
}
.description{
	margin-left: 12.2px;
}
.Model{
	font-size:10px;
	color:#888888;
	margin-top:23px;
	margin-bottom:6px;
}
.product_name{
	font-weight:500;
	font-family: SF UI Text;
	font-size:16px;
}
.product-name{
	margin-top:42px;
	font-family: SF UI Text;
	font-size:16px;
	font-weight:500;
}
.price-pos{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-top:10px;
	gap:9.14px;
	
	
}
.price{
	font-size:16px;
	color:#888888;
	
}
.price-through{
	font-size:16px;
	color:#888888;
	text-decoration: line-through;
}
.discount-price{
	font-size:16px;
	color:#888888;
	
}
.price-block{
	display:flex;
	flex-direction:row;
	gap:9.14px;
}
.product-card-footer{
	display:flex;
	gap:28px;
	margin-right:22px;
	
}
.clickable-icon {
	background-color; red;
    transition: all 0.3s ease; 
}

.clickable-icon:hover {
    cursor: pointer; 
}

.clickable-icon.clicked {
    filter: brightness(50%); 
}